<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Céline
        {% endblock %}
    </title>

    {% block stylesheets %}
        {% stylesheets filter='cssrewrite, ?scssphp'
        'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}
</head>
<body>

{% for message in app.session.flashbag.get('notif') %}
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
    </div>
{% endfor %}

{% block body %}
{% endblock %}

{% javascripts filter='?jsqueeze'
'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block js %}
{% endblock %}

</body>
</html>
